<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatapp">

    <!-- Разрешения для FCM -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Разрешения для работы с галереей -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Разрешение для использования камеры -->


    <!-- Разрешение для записи файлов (если нужно сохранять фото локально) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/solovei_png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/solovei_png"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Активность аутентификации -->
        <activity
            android:name=".activities.AuthActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Основная активность -->
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <!-- Другие активности -->
        <activity
            android:name=".activities.UserProfileActivity"
            android:theme="@style/Theme.ChatApp.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".IgraActivity">
        </activity>


        <activity
            android:name="AdditionGameMenuActivity">
        </activity>

        <activity
            android:name="AdditionGameActivity">
        </activity>


        <activity
            android:name=".GuessNumberMenuActivity">
        </activity>

        <activity
            android:name=".GuessNumberGameActivity">
        </activity>



        <activity
            android:name=".activities.CreateChatActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".activities.ChatDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <!-- Новая активность для выбора пользователей -->
        <activity
            android:name=".activities.SelectUsersActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <!-- Активность профиля -->
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <!-- Сервис FCM -->
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Метаданные Firebase -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_messaging_client_only"
            android:value="false" />
    </application>

</manifest>